@import './config/reset.scss';
@import './config/_variables.scss';

/* Mixins */
@import './mixins/videoBlock.scss';

/* Partials */
@import './partials/guide.scss';
@import './partials/header.scss';

/* Pages */
@import './pages/home.scss';
@import './pages/join.scss';
@import './pages/login.scss';

html,
body {
  height: 100%;
}
body {
  background-color: $grey;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.main {
  position: fixed;
  left: 240px;
  width: calc(100% - 240px);
  height: 100%;
}

@media screen and (max-width: 1312px) {
  .main {
    position: fixed;
    left: 77px;
    width: calc(100% - 77px);
    height: 100%;
  }
}

@media screen and (max-width: 792px) {
  .main {
    position: fixed;
    left: 0px;
    width: calc(100% - 0px);
    height: 100%;
  }
}
