guide.guide
  .guide__menu
    .guide__item.guide__home.guide__item--current
      .guide__icon 
        i.fas.fa-home
      span.guide__text ホーム
    .guide__item.guide__compass 
      .guide__icon
        i.fas.fa-compass
      span.guide__text 探索
    .guide__item.guide__subscription
      .guide__icon
        i.fas.fa-bookmark
      span.guide__text 登録チャンネル
    .guide__item.guide__originals
      .guide__icon
        i.fab.fa-youtube
      span.guide__text Originals
    .guide__item.guide__music
      .guide__icon
        i.fas.fa-music
      span.guide__text #{siteName} Music
